// Settings that form the basis for the rest of the site
body
    background: $lightgray
    //CSS styling everywhere else will use (em)s in place of (px)s. 
    //This statement sets the baseline for those (em)s
    font: 16px $body-font

.wrapper
    // Provides automatic centering for content. The left-right margins are set automatically based on 100% subtracted from width
    width: 80%
    margin: 0 auto