ul.nav
    background: $darkgray
    &:first-child
        padding-left: 1.6%
        a
            font-size: 1.2em
            color: $gray
            text-decoration: none
            &:hover
                color: $lightgray
            &:visited
                color: $gray