$lightgray: #f0f5f9
$gray: #c9d6de
$darkgray: #52616a
$offblack: #1e2022
/*
 *****FIND PROFESSIONAL FONTS*****
*/
$body-font: 'Roboto','Lucida Grande', 'Helvetica'
$nav-font: 'Roboto','Lucida Grande', 'Helvetica'

    